<div class="mainform" id="resetform">
    <mat-card>
        <form autoComplete="off" [formGroup]="resetPasswordForm">
            <mat-card-title class="cardsub">
                Reset Password
            </mat-card-title>
            <mat-card-content>
                <div class="container-fluid">
                    <div class="row">
                        <mat-error class="error" class="col-sm-12" *ngIf="message">{{message}}</mat-error>
                        <div id="oldPass" class="col-md-6 col-sm-12">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Old Password" type="password" [formControl]="resetPasswordForm.controls['old_password']">
                            </mat-form-field>
                            <mat-error *ngIf="!resetPasswordForm.controls['old_password'].valid && resetPasswordForm.controls['old_password'].touched">
                                Please enter old password
                            </mat-error>
                        </div>
                        <div id="newPass" class="col-md-6 col-sm-12">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="New Password" type="password" [formControl]="resetPasswordForm.controls['new_password']">
                            </mat-form-field>
                            <mat-error *ngIf="!resetPasswordForm.controls['new_password'].valid && resetPasswordForm.controls['new_password'].touched">
                                Please enter new password
                            </mat-error>
                        </div>
                        <div id="resetbtn" class="col-sm-12">
                            <button type="submit" mat-raised-button color=primary [disabled]="resetPasswordForm.invalid || loading"
                                (click)="resetPassword()"> Update </button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>