.radioButton{
    align-self: center;
    margin-left: 14px;
    margin-top: 14px;
}
.save{
    margin-bottom: 10px;
}
.closebtn{
    float: right;
}.editTag{
    padding: 12px 0 0 26px;
    font-size: 18px;
}
.savebtn{
    margin-left: 10px;
}
.tagButn,.saveBtn{
    padding: 15px
    }