<div class="row">
  <div class="col-md-12">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--tab">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <span class="m-portlet__head-icon m--hide">
              <i class="la la-gear"></i>
            </span>
            <h3 class="m-portlet__head-text">
              Remove Old Logs
            </h3>
          </div>
        </div>
      </div>
      <!--begin::Form-->
      <form class="m-form m-form--fit m-form--label-align-right" autocomplete="off" #removelogs="ngForm" (ngSubmit)="removeOldlogs(removelogs.value)">
        <div class="m-portlet__body">
          <div class="form-group m-form__group">
            <mat-form-field class="w-100">
              <input matInput [matDatepicker]="from" name="from" placeholder="From date" #startDateValidator="ngModel"
                ngModel required>
              <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
              <mat-datepicker #from></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group m-form__group">
            <mat-form-field class="w-100">
              <input matInput [matDatepicker]="to" name="to" placeholder="To date" #endDateValidator="ngModel" ngModel
                required>
              <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
              <mat-datepicker #to></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
          <div class="m-form__actions">
            <button type="submit" class="btn btn-primary" [disabled]="startDateValidator.invalid || endDateValidator.invalid">Remove</button>
            <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
          </div>
        </div>
      </form>
      <!--end::Form-->
    </div>
    <!--end::Portlet-->
  </div>
</div>